<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alton Turrets - Home</title>
</head>

<body>
    <header>
        <h1>Welcome to the Theme Park</h1>
        <%- include('partials/_navigation.html') %>
    </header>
    <main>
        <form id="orderTicketForm">
            <h2>Order a Ticket</h2>
            <section id="dateselect">
                <label for="visitDate">Visit Date:</label>
                <input type="date" id="visitDate" name="visitDate" required
                    min="<%= new Date().toISOString().split('T')[0] %>">
            </section>
            <section class="rides-list">
                <% for (let ride of ridesList) { %>
                    <article id="<%= ride.id %>">
                        <h3>
                            <%= ride.name %>
                        </h3>
                        <p>Fast track cost: £<%= ride.fast_track_cost %>
                        </p>
                        <p>Minimum height: <%= ride.min_height %>cm</p>
                        <label>
                            <input type="checkbox" name="fastPasses" value="<%= ride.name %>"
                                data-cost="<%= ride.fast_track_cost %>">
                            Select Fast Pass
                        </label>
                    </article>
                    <% } %>
            </section>
            <section id="basket">
                <h2>Your ticket</h2>
                <div id="ticketsDiv"></div>
                <p id="totalCost">Ticket Cost: £0.00</p>
                <label>
                    <input type="checkbox" name="confirmOrder" required>
                    I confirm this order is correct
                </label>
                <button type="submit" disabled>Purchase ticket</button>
            </section>
        </form>
    </main>
    <%- include('partials/_footer.html') %>
        <script>

        </script>



</body>

</html>