<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alton Turrets</title>
    <!-- Add link to CSS file -->
</head>

<body>
    <header>
        <h1>Welcome to Alton Turrets</h1>
        <nav>
            <button onclick="location.href='/users/sign-up'">Register</button>
            <button onclick="location.href='/users/sign-in'">Login</button>
        </nav>
    </header>
    <main>
        <section>
            <h2>Rides and Fast-Track Prices</h2>
            <section class="rides-list">
                <% for (let ride of ridesList) { %>
                    <section>
                        <h3>
                            <%= ride.name %>
                        </h3>
                        <p>Fast track cost: £<%= ride.fast_track_cost %></p>
                        <p>Minimum height: <%= ride.min_height %>cm</p>
                        <button data-ride-id="<%= ride.id %>">Add Fast Track</button>
                    </section>
                <% } %>
            </section>

        </section>
    </main>
    <%- include('partials/_footer.html') %>
</body>

</html>